@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('images/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 5vh; /* Reduced to move button down */
}

.object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outline {
  display: none;
  position: absolute;
  z-index: 1;
}

.recording .outline {
  display: block;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.8vw solid #b5a4a4;
  animation: pulse 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.button {
  width: 8vw; 
  height: 8vw; 
  border-radius: 50%;
  background: #50cddd;
  box-shadow: 0px 0px 8vw #0084f9;
  position: relative;
  z-index: 2;
}

.recording .button {
  background: #dd5050;
  box-shadow: 0px 0px 8vw #f90000;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 6.5vw solid #000000;
  }
  50% {
    border: solid #ffffff;
    opacity: 0.8;
  }

  90% {
    transform: scale(3.2);
    opacity: 0.2;
    border: 0.3vw solid #000000;
  }
  100% {
    transform: scale(3.3);
    opacity: 0;
    border: 0.1vw solid #ffffff;
  }
}

#delayed {
  animation-delay: 1.5s;
}

#circlein {
  width: 6vw; /* Reduced to shrink the button */
  height: 6vw; /* Reduced to shrink the button */
  border-radius: 50%;
  background: #6bd6e1;
  box-shadow: 0px -0.2vw 1.5vw #e0ff94;
  position: absolute;
  z-index: 3;
  display: flex; /* Added to center the soundwave icon */
  justify-content: center; /* Added to center the soundwave icon */
  align-items: center; /* Added to center the soundwave icon */
}

.recording #circlein {
  background: #e16b6b;
  box-shadow: 0px -0.2vw 1.5vw #e0ff94;
}

.soundwave-icon {
  height: 4vw; /* Reduced to shrink the button */
  position: absolute;
  /* margin: 2.1vw; Removed to center the soundwave icon */
  z-index: 4;
}

.captions {
  font: 3.2rem/1.25 'Rubik', sans-serif;
  text-align: center;
  font-weight: 400;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 70vh; /* Increased to expand the height of card/transcript */
  width: 80vw;
  overflow:auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  padding-top: 1rem;
  margin-top: 5vh; /* Reduced to move button down */
}

.captions span {
  display: inline-block;
  line-height: 4rem;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-container {
  position: absolute;
  right: 1vw; /* Adjust as needed */
  top: 25vh; /* Adjust as needed */
  display: flex;
  align-items: center;
  z-index: 5; /* Adjust as needed */
  margin-right: 1vw; /* Add right margin */
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 1vw; /* Adjust as needed */
  height: 50vh; /* Adjust as needed */
  background: transparent;
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  width: 0.6vw;
  height: 100%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}