@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* Base styles */
body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Rubik', sans-serif; /* Added Rubik font */
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('images/background.webp') no-repeat center center/cover;
  filter: blur(4px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
}

/* Container styles */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding-bottom: 1vh;
}

/* Captions styles */
.captions {
  font-size: 3.2vw; /* Using vw unit for font size to make it responsive */
  line-height: 1.25; /* Adjust line height accordingly */
  text-align: center;
  font-weight: 400;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 65vh;
  width: 80vw;
  overflow: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  padding-top: 1rem;
  padding-bottom: 2%;
  margin-top: 5vh;
}

.captions span {
  display: inline-block;
  line-height: 4vw; /* Using vw unit for line height to make it responsive */
  padding: 1vw; /* Using vw unit for padding to make it responsive */
  background-color: rgba(0, 0, 0, 0.3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .captions {
    font-size: 5vw; /* Adjust font size for smaller screens */
    line-height: 1.5; /* Adjust line height for smaller screens */
    padding-top: 2vw; /* Adjust padding for smaller screens */
    padding-bottom: 3vw; /* Adjust padding for smaller screens */
    margin-top: 10vh; /* Adjust margin for smaller screens */
  }

  .captions span {
    line-height: 6vw; /* Adjust line height for smaller screens */
    padding: 2vw; /* Adjust padding for smaller screens */
  }
}
/* Box styles */
.box {
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-height: 100vh; /* Ensure .box is not taller than the viewport */
}

/* Object styles */
.object {
  position: sticky;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  min-height: 10px;
}

.object .outline {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Button styles */
.button, .recording .button {
  width: 8vw;
  height: 8vw;
  flex-shrink: 1; /* Allows the button to shrink */
  min-width: 15px; /* Minimum button width */
  min-height: 15px; /* Minimum button height */
  border-radius: 50%;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.button {
  background: #50cddd;
  box-shadow: 0px 0px 8vw #0084f9;
}

.recording .button {
  background: #dd5050;
  box-shadow: 0px 0px 8vw #f90000;
}

.recording .outline {
  display: block;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.8vw solid #b5a4a4;
  animation: pulse 3s ease-out infinite;
}

/* Soundwave icon styles */
.soundwave-icon {
  height: 4vw;
  position: absolute;
  z-index: 3;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
    border: 6.5vw solid #000000;
  }
  50% {
    border: solid #ffffff;
    opacity: 0.8;
  }

  90% {
    transform: scale(3.2);
    opacity: 0.2;
    border: 0.3vw solid #000000;
  }
  100% {
    transform: scale(3.3);
    opacity: 0;
    border: 0.1vw solid #ffffff;
  }
}

#delayed {
  animation-delay: 1.5s;
}

#circlein {
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background: #6bd6e1;
  box-shadow: 0px -0.2vw 1.5vw #e0ff94;
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}



.slider-container {
  position: fixed;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 1vw;
  height: 20vw; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20vw;
  height: 1vw; 
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1vw;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotate(270deg);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.5vw;
  height: 2.5vw;
  background-image: radial-gradient(circle at top left, rgba(255,255,255,0.1), rgba(255,255,255,0)), #800080;
  cursor: pointer;
  box-shadow: 0 0 10px 5px #800080;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.slider::-moz-range-thumb {
  width: 2.5vw;
  height: 2.5vw;
  background: #800080;
  cursor: pointer;
  box-shadow: 0 0 10px 5px #800080;
  border: 1px solid rgba(255, 255, 255, 0.3);
}